<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ Thống Thư Viện</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a th:href="@{/web/users}">Quản lý Người dùng</a></li>
        <li><a th:href="@{/web/books}">Quản lý Sách</a></li>
        <li><a th:href="@{/web/borrows}">Quản lý Mượn/Trả Sách</a></li>
    </ul>
</div>

<div class="container">
    <h1>Chào mừng đến với Hệ thống Quản lý Thư viện</h1>
</div>
<script th:src="@{/js/script.js}"></script> </body>
</html>